body
    // padding: 3rem
    color: $black
    background: $white
    margin: 0
    padding: 0

.hero

    overflow: hidden
    max-height: 50vh
    min-height: 20vh
    height: calc(100vw * (4/6))
    width: 100vw
    margin-bottom: 3rem
    box-shadow: inset 0 0px 10px 10px $white
    background: url('/img/fabric-scissors-needle-needles-461035.jpg')
    background-repeat: no-repeat
    background-size: contain
    background-position: center