.blog-posts
    max-width: 800px
    margin: auto
    .blog-post-card
        background: darken($white, 1%)
        margin: .8rem
        a 
            h2
                font-size: 2rem
                font-family: 'Fredericka the Great'
                margin-bottom: 0
        
        em
            padding-left: 10rem
            font-size: 1.2rem
            font-family: 'Zeyada'