.projectGalleryWrapper
    display: grid
    grid-template-columns: 1fr 10fr 1fr
.projectGallery
    display: grid
    grid-column: 2
    grid-template-columns: repeat(auto-fill, 300px)
    grid-auto-rows: 300px
    grid-auto-flow: dense


    a
        text-decoration: none
        color: $black

    .projectThumbnail
        display: grid
        justify-content: center
        justify-items: center
        align-content: center
        align-items: center
        overflow: hidden
        grid-template-columns: 1
        grid-template-rows: 1
        
        img
            grid-column: 1 / -1;
            grid-row: 1 / -1;
            object-fit: cover
            height: 100%
            width: 100%
        
        .projectOverlay
            background: #ffc60032
            background: $white
            grid-column: 1 / -1;
            grid-row: 1 / -1;
            position: relative;
            display: grid;
            justify-items: center;
            align-items: center;
            transition: 0.2s;
            transform: translateY(100%);
            text-transform: uppercase
            height: 100%
            width: 100%


        &:hover .projectOverlay
            transform: translateY(0)

section.projectPost
    padding: 1rem
    margin: auto
    max-width: 800px

    img
        max-width: 800px
        width: calc(100vw - 2rem)
    

ul.projectNav
    display: flex
    flex-direction: column
    align-items: center
    li
        padding: .5rem 1rem
        list-style-type: none
    a
        padding: .5rem 1rem
        text-decoration: none


.ProjectNavWrapper
    text-align: center
    display: flex
    flex-direction: column
    align-items: center
    h2
        border-bottom: 1px solid $grey
        

